<!DOCTYPE html>
<html lang="en">
<head>
  <title>My First Webpage</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="script.js"></script>
</head>
<body>
  <h1 class="title">Hello World</h1>
  <h2>How's it goin'</h2>
  <%= render './partials/_hero.html.erb' %>
</body>
